.counter-field-ctn {
  .counter-field {
    width: 112px;
    height: 87px;
    background-image: url("../img/counter.png");
    font-size: 75px;
    font-weight: bold;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .label {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}